.img-profile {
    width: 18.75rem;
    height: 21.875rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media (max-width: 480px){
    .img-profile {
        width: 12rem;
        height: 15rem;
    }
}