.banner {
    background: linear-gradient(270deg, #998CEB, #77E4D4, #B4FE98, #FBF46D );
    background-size: 400% 300%;
    animation: bgGradient 10s ease-out infinite;
    padding: 2rem;
}

@keyframes bgGradient {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.banner-avatar {
    align-self: center;
}

.banner-text {
    align-self: center;
    justify-self: start;
    padding: 2rem;
}